{% extends 'layout_back.html.twig' %}

{% block new %}
    <!--<h2 class="mb-3 text-center">New type</h2>-->
    <div class="add">
        <form class="form" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Type name">
            </div>
            <button type="submit" class="btn-edit text-white confirm">Confirm</button>
        </form>
	</div>
{% endblock new %}