{% extends 'layout_back.html.twig' %}
{% block content %}
    <h2 class="mb-3 text-center">New airplane</h2>
    <div class="add">
        <form class="form" id="form" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Airplane name">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="capacityEconomic" id="capacity_economic" placeholder="Capacity economic">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="capacityBusiness" id="capacity_business" placeholder="Capacity business">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="capacityFirst" id="capacity_first" placeholder="Capacity first">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="capacity" id="capacity" placeholder="Capacity">
            </div>
            <label>Airplane type</label>
            <div class="form-group">
                <select class="form-control" name="type" id="type">
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn-edit text-white confirm">Confirm</button>
        </form>
    </div>
{% endblock content %}