<form method="POST" action="/air-base/?page=flights/advanced-search">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DateOfDeparture">Date of departure</label>
            <input type="date" id="DateOfDeparture" name="searchByDateOfDeparture" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label for="DateOfArrival">Date of arrival</label>
            <input type="date" id="DateOfArrival" name="searchByDateOfArrival" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DepartureCity">Departure city</label>
            <select class="form-control" id="DepartureCity" name="searchByDepartureCity" placeholder="Departure city">
                <option>...</option>
                {% for departureCity in cities %}
                    <option>{{ departureCity.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="arrivalCity">Arrival city</label>
            <select class="form-control" id="arrivalCity" name="searchByArrivalCity" placeholder="Arrival city">
                <option>...</option>
                {% for arrivalCity in cities %}
                    <option>{{ arrivalCity.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button class="btn btn-block btn-criteria" type="submit"><i class='fa fa-search'></i></button>
</form>
