<nav class="front">
    <i class="fa fa-fighter-jet fa-3x ml-4 mr-4" aria-hidden="true"></i>
    <a class="" href="/air-base/?page=admin">Shortcut Admin</a>
    <a class="" href="/air-base/">Home</a>
</nav>
