<div class="container wrapper-search-form">
    <form class="form" method="POST">
        <div class="input-group">
            <input type="search" class="form-control" name="flightSearch" placeholder="Search a flight" aria-label="Search a flight">
            <div class="input-group-append">
                <button class="btn btn-danger btn-search" type="submit"><i class='fa fa-search'></i></button>
            </div>
        </div>
    </form>
</div>