{% extends 'layout_back.html.twig' %}

{% block content %}
    <h1>Roles</h1>
    <div class="content">
        <a href="" class="badge badge-pill badge-primary">New role</a>
        <div class="table-responsive">
            <table class="table-crud table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr class="tr-content">
                        <td class="text-primary"><b>{{ role.id }}</b></td>
                        <td>{{ role.name }}</td>
                        <td>
                            <a href="" class="badge badge-pill badge-primary">Edit</a>
                            <a href="" class=""></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}