{% extends 'layout_back.html.twig' %}

{% block content %}
    <h2 class="mt-3 mb-3 text-center">Cities</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>

            {% for city in cities %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.name }}</td>
                    <td>{{ city.date | date }}</td>
                    <td>{{ city.enabled }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="container-add"></div>
    
    <a class="link-new-item mb-3" href="/?page=admin/cities/new"><strong class="btn-more">+</strong></a>
{% endblock content %}
