<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <h3 class="mr-5 p-4">Cities</h3>
            </div>
            <a href="/air-base/?page=admin/cities" class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <h3 class="mr-5 p-4">Airplanes</h3>
            </div>
            <a href="/air-base/?page=admin/airplanes" class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <h3 class="mr-5 p-4">Types</h3>
            </div>
            <a href="/air-base/?page=admin/types" class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <h3 class="mr-5 p-4">Pilots</h3>
            </div>
            <a href="/air-base/?page=admin/pilots" class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <h3 class="mr-5 p-4">Flights</h3>
            </div>
            <a href="/air-base/?page=admin/flights" class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
            </a>
        </div>
    </div>
</div>