<nav class="nav back mb-3">
    <a class="nav-link" href="/air-base/">Shortcut front</a>
    <a class="nav-link" href="/air-base/?page=admin">Admin</a>
    <a class="nav-link" href="/air-base/?page=admin/users">Users</a>
    <a class="nav-link" href="/air-base/?page=admin/roles">Roles</a>
    <a class="nav-link" href="/air-base/?page=admin/cities">Cities</a>
    <a class="nav-link" href="/air-base/?page=admin/airplanes">Airplanes</a>
    <a class="nav-link" href="/air-base/?page=admin/types">Types</a>
    <a class="nav-link" href="/air-base/?page=admin/pilots">Pilots</a>
    <a class="nav-link" href="/air-base/?page=admin/flights">Flights</a>
</nav>
