<div class="btn-navigation">
    <div class="barre"></div>
    <div class="barre"></div>
    <div class="barre"></div>
</div>
<div class="sidebar">
    <div class="icon-sidebar-back">
    </div>
    <ul class="ul-sidebar">
        <li><a href="/">Go /*</a></li>
        <li><a href="/admin-users-list">Users</a></li>
        <li><a href="/admin-roles-list">Roles</a></li>
    </ul>
</div>