html, body {
    font-family: Arial;
    height: 100%;
    color: #818182;
}
nav.front {
}
nav.back a, nav.front a {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
nav.front a {
    margin-left: 10px;
}

/* USER */
nav.front > .profile {
    float: right;
    margin-top: 30px;
}
nav.front > .profile > ul, nav > .profile > ul > li > ul {
    list-style-type: none;
    margin-right: 50px;
    z-index: 20;
}
.profile > ul > li > ul {
    position: absolute;
    right: -2em;
    background: orange;
    box-shadow: 2px 2px 2px #a9a3a3;
    border: solid 2px #ececec;
    border-radius: 6px;
    display: none;
    padding-left: 0;
    margin-top: 4px;
}
.profile > ul > li > ul > li {
    padding: 0 23px 3px 29px;
}
.profile > ul > li > ul > li:hover {
    cursor: pointer;
    background: grey;
}
.sub-profile-logout {
    color: white;
}
.sub-profile-logout:hover {
    color: white;
    text-decoration: none;
}
.li-pseudo {
    color: #dc3545;
    cursor: pointer;
}
.profile > ul > li > ul > li:hover:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.profile > ul > li > ul > li:hover:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* END USER */
.content {
    margin-top: 30px;
}
.form-control {
    margin-bottom: 20px;
    border-radius: 0;
}
.login{
    border: solid 1px #a0a08d75;
    width: 40%;
    margin:auto;
    margin-top: 15%;
    height: 22em;
    padding: 50px;
}
.register {
    border: solid #80808040 1px;
    padding: 27px;
    margin: auto;
    width: 90%;
}
.register a{
    border: none;
}
#form-login {
    width: 100%;
}
.form-control:focus {
    box-shadow: 0 0 0 white;
}
.register input[type="text"],
.register input[type="email"],
.register input[type="number"],
.register input[type="password"],
.login input[type="text"],
.login input[type="password"] {
    border-top: none;
    border-right: none;
    border-left: none;
}
.register [placeholder]::-webkit-input-placeholder {
    font-style: italic;
    opacity: .9;
}

.register [placeholder]:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    opacity: .9;
}

.register [placeholder]::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    opacity: .9;
}

.register [placeholder]:-ms-input-placeholder {
    font-style: italic;
    opacity: .9;
}
input[type="search"] {
    border-radius: 0;
}
select {
    border-radius: 0;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
.btn:focus {
    box-shadow: 0 0 0 white;
}
.link-new-item:hover {
    text-decoration: none;
}
.link-new-item .btn-more {
    border: solid 2px #de3b34;
    border-radius: 100%;
    font-size: 35px;
    padding: 0 10px 0 10px;
    color: #de3b34;
}
.link-new-item .btn-more:hover {
    background: #de3b34;
    color: white;
}
.btn-edit {
    background: #888888;
    color: white;
    border: solid 0.5px white;
    font-weight: bold;
    width: 11em;
    height: 2.5em;
    margin-top: 18px;
    cursor: pointer;
    float: right;
}
.btn-edit:hover{
    background: #888888;
    color: white;
}
img.airplane-icon {
    width: 20px;
    margin: 0 10px 0 10px;
}
.block-new input {
}
.link-new-item {
    float: right;
}
table .th-trash {
    cursor: pointer;
}
input[type=checkbox].input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -border-radius: 4px;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}
.toggle-group {
    background: transparent !important;
}
.toggle-group .toggle-on {
    background: #4CAF50;
    border: solid 1px grey !important;
    border-radius: 6px !important;
}

/*Listing*/
.container-add {
    width: 100%;
    position: absolute;
    left: 0;
    top: 13%;
    display: flex;
    justify-content: center;
}
.container-add .add {
    background: #0000008f;
    background-image: url('../../assets/imgs/bg-flight.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    height: 45em;
    width: 50%;
}
.container-add .add label {
    color: white;
    font-weight: bold;
}
/* the end for container-add*/

/* test listing flight */
.block-star-spec {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.block-star-spec .line-spec {
    width: 150px;
    height: 1px;
    background: #fdd8d1;
}
.block-star-spec i {
    position: relative;
    right: 81px;
    top: -7.6px;
    font-size: 1.2em;
    z-index: 1000;
    color: #dc3545;
}
.close {
    position: relative;
}
/* front home */
.landing-div {
/*    background: #adb5bd;
    height: 300px;
    width: 100%;*/
}
/* front home search */
.wrapper-search-form {
    margin-top: 50px;
}
.wrapper-search-form form .input-group input[type="search"] {
    height: 5em;
}
.cards-xysn {
    width: 100%;
    height: 60em;
    display: flex;
    padding: 9px;
    overflow: auto;
   /* border: solid 0.5px darkgrey;*/
}
.block-front-flight {
    width: 60%;
}
.test-- {
    width: 40%;
}

.form-row label  {
    margin-left: 2px;
}