{% extends 'layout.html.twig' %}

{% block landing %}
    {% include 'front/includes/landing.html.twig' %}
    {% block search %}
        {% include 'front/includes/search.html.twig' %}
    {% endblock search %}
{% endblock landing %}

{% block content %}
    <div class="cards-xysn">
        <div class="block-front-flight"></div>
        <div class="test--">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dicta dignissimos ducimus est ex hic in, ipsum iste labore libero nam nemo porro qui quidem ratione recusandae repudiandae rerum voluptas?</div>
    </div>
{% endblock content %}
