{% extends 'layout_back.html.twig' %}

{% block content %}
    {% include 'security/message.html.twig' %}
    <div class="container mt-5">
        {% include 'back/includes/icon-cards.html.twig' %}
    </div>
{% endblock content %}